/*-----------Selectores de etiquetas----------*/
p{
	color: green;		/*los selectores de etiquetas no son recomendables porque son generales mejor es usar los de clases*/
}

h1{
	color: blue;
}

/*----------Selectores de clases-----------*/
.title{ /*title hace referencia al nombre de la clase con que lo nombre en el archivo html*/
	color: green
}
.text{
	color: blueviolet;
}

/*----------Selectores de id-----------*/
/*No los puse porque no se recomiendan porque se utilizan apra los ancla o acceder a nose que cosa*/

/*----------Selectores universales-----------*/
/*recomendados solo para resetear el navegador*/
/*	*{	*/ 						/*El asterisco significa que se aplica a toda la pagina*/
	/*color:red;
}*/

/*----------Selectores de atributos-----------*/
	/*Este selector hace referencia a todos elementos que tienen este atributo*/
	[href]{
	 	color:green;
	}

	/*Este selector hace referencia a todos elementos que tienen este atributo y este valor*/
	[href="#"]{
	 	color:red;
	}

	/*Este selector hace referencia a todos elementos que tienen este atributo y que al menos tenga ese valor una vez*/
	[class~="verde"]{
	 	color:green;
	}

	/*Este selector hace referencia a todos elementos que tienen este atributo y que tengo exactamente este valor o empiece por el valor seguido de un guion*/
	[class|="verde"]{
	 	color:blue;
	}

	/*Este selector hace referencia a todos elementos que tienen este atributo y que empiecen con el atributo que le estoy dando*/
	[class^="rojo"]{
	 	color:purple;
	}

	/*Este selector hace referencia a todos elementos que tienen este atributo y que acaben con el atributo que le estoy dando*/
	[class$="rojo"]{
	 	color:steelblue;
	}

	/*Este selector hace referencia a todos elementos que tienen este atributo y que tengan ese valore*/
	[class="rojo"]{
	 	color:brown;
	}

/*----------Selectores de combinadores-----------*/
	/*----------Selectores de hermano adyacente:hermano debajo de el-----------*/
	h3+h4{ /*se aplica en h4*/
		color: red;
	}

	/*----------Selectores de hermano general: hermanos que compartan mismo padre-----------*/
	h5 ~ h6{ /*se aplica en h4*/
		color: green;
	}

	/*Selectores descendentes*/
	p span{/*aplica a todo span hijo de p*/
		color:blue;
	}

	/*Selector de hijo directo*/
	p > span{/*aplica a todo span hijo de p*/
		color:blue;
	}