/* El overflow es cunado el contenido de la caja se sale fuera de los limites de esta

box-sizing: sirve para calcular el tamaño de las cajas automaticamente simplificando nuestro trabajo se recomiendo establecerlo
como practica con el * al inicio del programa

Overflow:   visible -> valor por defecto
            hidden -> El continido que se desborde no se vera, si se aplica en un solo eje en el otro aparecera un scroll
            scroll -> Apareceran barras de scroll en los ejec asignados
            auto -> Apareceran barras de scroll automaticamente si hacen falta*/
*{
    box-sizing: border-box; /*Para simplificar el calculo de tamaño de cajas*/
}

body{
    background-color: #333;
    color:#fff;
    margin: 0;
}

.box{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background-color: lightcyan;
    width: 300px;
    height: 300px;
    color: #000;
    /*overflow-y: auto;*/ /*el -y indica en el eje y*/
    overflow: auto; /*aplico a ambos ejes*/
}

.text{
    width: 350px;
}