h1{
	background: lightskyblue;
	height: 150px; /*Alto de la caja que contiene el titulo, no del tituto*/
	width: 100px;/*Ancho de la caja que contiene el titulo, no del tituto*/
}
h2{ /*Haciendo click y dejando el mouse sobre el cuadrito de color me sale opcion para configurar meditante rgb de manera grafica */
	background: rgb(235, 69, 4);
	width: 50px; /*No invade espacio de h1 pq esta reservado*/
}
a{
	background: magenta;
	/*Por mas que agregue height y width no va a pasar nada porque es un elemento inline es decir que su espacio esta determinado por su contenido unicamente*/
	/*Con la propiedad display se puede modificar pero se va a ver mas adelante*/
	height: 100px;
	width: 50px;
}
.box-1{
	width: 200px;
	height: 200px;
	background: lime;
	padding: 10px; /*Separo Contenido de su borde*/
	border: 5px solid palevioletred; /*Borde de un determinado color*/
	margin: 20px; /*Se separa 20 pixeles por todas las direcciones*/
	outline: 5px solid blue; /*La diferencia con border es que los pixeles de outline no son contados para el tamaño de la caja pudiendo pisar otras cajas, outline suele utlizarse para localizar elementos*/
}
.box-2{
	width: 200px;
	height: 200px;
	background: lightsalmon;
}